<p>
  <strong>Winner: </strong>
  <%= link_to "#{@winner.fname} #{@winner.lname}", fighter_path(@winner.id) %>
</p>

<p>
  <strong>Loser: </strong>
  <%= link_to "#{@loser.fname} #{@loser.lname}", fighter_path(@loser.id) %>
</p>
